extends layout

block styles
  style #map { height: 400px;}
block content
  .row.page-header
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Loc8r Search
            .panel-body
              div(id="map")
block scripts
  script #{mapInit}
  script(src="https://maps.googleapis.com/maps/api/js?key="+mapKey+"&callback=mapInit" async defer)
