extends layout
include includes/location-mixins

block content
  #banner.page-header
    div.row
      div.col-lg-6
        h1 Loc8r
          small &nbsp;Find WiFi nearby
  div.row
    div.col-xs-12.col-sm-8
      div.row.list-group
        each location in wifiLocations
          +location(location)
    div.col-xs-12.col-sm-4
      p.lead Loc8r helps you find places to get online when out and about.
  